{
    "analysis_level": "pre_process",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [
        {
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "output_type": "output_data",
            "input_type": "use_external_data"
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "force_snapshotable": true,
            "output_type": "output_data",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        }
    ]
}
