{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "dyda_config": {
                "target": ["dog"]
            }
        }
    ]
}
