{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "detector",
            "component": "openvino_detector",
            "class": "DetectorOpenVINO",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-ssd-openvino-1.0.0/mobilenet-ssd.bin",
                "model_description": "/usr/share/dlmodels/mobilenet-ssd-openvino-1.0.0/mobilenet-ssd.xml",
                "label_file": "/usr/share/dlmodels/mobilenet-ssd-openvino-1.0.0/labels.txt",
                "device": "MYRIAD",
                "threshold": 0.5
            }
        },
        {
            "name": "patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "force_snapshotable": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["detector", "results"]
            ]},
            "dyda_config": {
                "patch_color": [0, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["track_id"]
            }
        }
    ]
}
