{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "data_reader",
            "class": "Video2FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "dyda_config": {
                "interval": 1
            },
            "input_type": "use_previous_output"
        },
        {
            "name": "bg_subtractor",
            "component": "image_processor",
            "class": "BgSubtractImageProcessor",
            "type": "normal",
            "input_type": "use",
            "dyda_config": {
                "history": 1000,                                                        
                "var_threshold": 25,                                                    
                "detect_shadows": true,                                                 
                "learning_rate": -1                                                     
            },
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"]
            ]}
        },
        {
            "name": "open_processor",
            "component": "image_processor",
            "class": "MorphOpenImageProcessor",
            "dyda_config": {                                                
                "kernel_size": 3,                                                       
                "iter_number": 1                                                        
            },
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "close_processor",
            "component": "image_processor",
            "class": "MorphCloseImageProcessor",
            "dyda_config":{                                               
                "kernel_size": 5,                                                       
                "iter_number": 3                                                        
            }, 
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "ccl_processor",
            "component": "image_processor",
            "class": "CCLImageProcessor",
            "dyda_config":{
                "connectivity": 4,                                                      
                "area_min_thre": 0.0005,                                                
                "area_max_thre": 0.3,                                                   
                "label": "anomaly"                                                      
            },
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "dyda_config": {                                                      
                "use_external_meta": true                                               
            },
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "object_sorter",
            "component": "determinator",
            "class": "DeterminatorSortByArea",
            "dyda_config": {                                                                         
                "mode": "large",                                                        
                "number": 1  
            }, 
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "square_extender",
            "component": "box_processor",
            "class": "SquareExtendBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "crop_processor",
            "component": "image_processor",
            "class": "CropMultiUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["square_extender", "results"]
            ]},
            "output_type": "output_data",
            "snapshot": true
        }
    ]
}
