{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "dyda_config": {
                "interval": 1
            },
            "input_type": "use_previous_output"
        },
        {
            "name": "bg_subtractor",
            "component": "image_processor",
            "class": "BgSubtractImageProcessor",
            "type": "normal",
            "input_type": "use",
            "dyda_config": {
                "history": 1000,
                "var_threshold": 25,
                "detect_shadows": true,
                "learning_rate": -1
            },
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"]
            ]}
        },
        {
            "name": "open_processor",
            "component": "image_processor",
            "class": "MorphOpenImageProcessor",
            "dyda_config": {
                "kernel_size": 3,
                "iter_number": 1
            },
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "close_processor",
            "component": "image_processor",
            "class": "MorphCloseImageProcessor",
            "dyda_config":{
                "kernel_size": 5,
                "iter_number": 3
            },
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "ccl_processor",
            "component": "image_processor",
            "class": "CCLImageProcessor",
            "dyda_config":{
                "connectivity": 4,
                "area_min_thre": 0.0005,
                "area_max_thre": 0.3,
                "label": "anomaly"
            },
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "dyda_config": {
                "use_external_meta": true
            },
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "object_sorter",
            "component": "determinator",
            "class": "DeterminatorSortByArea",
            "dyda_config": {
                "mode": "large",
                "number": 1
            },
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "square_extender",
            "component": "box_processor",
            "class": "SquareExtendBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "crop_processor",
            "component": "image_processor",
            "class": "CropUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["square_extender", "results"]
            ]}
        },
        {
            "name": "classifier",
            "component": "openvino_classifier",
            "class": "ClassifierOpenVINO",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-1.0-224-fp16-openvino-1/mobilenet_v1_1.0_224_frozen.bin",
                "model_description": "/usr/share/dlmodels/mobilenet-1.0-224-fp16-openvino-1/mobilenet_v1_1.0_224_frozen.xml",
                "label_file": "/usr/share/dlmodels/mobilenet-1.0-224-fp16-openvino-1/imagenet_slim_labels.txt",
                "device": "MYRIAD"
            },
            "type": "normal",
	    "print_output": true,
            "output_type": "results",
            "input_type": "use_previous_output"
        },
        {
            "name": "detcla_combiner",
            "component": "output_generator",
            "class": "OutputGeneratorCombineDetCla",
            "type": "output_generator",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["object_sorter", "results"],
                ["classifier", "results"]
            ]}
        },
        {
            "name": "output_generator",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "output_generator",
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["detcla_combiner", "folder"],
                ["detcla_combiner", "filename"],
                ["detcla_combiner", "size"],
                ["detcla_combiner", "annotations", ["type", "label", "confidence", "top", "bottom", "left", "right", "id"]]
            ]},
            "output_type": "results"
        },
        {
           "name": "agg_data_determinator",
           "component": "determinator",
           "class": "DeterminatorByAggregatedDataSingle",
           "type": "normal",
           "input_type": "use_previous_results",
           "output_type": "results",
           "dyda_config": {
                "filter_rule": "max",
                "comp_rule": "mean",
                "agg_num": 5,
                "unpack_single_list": true
           }
        },
        {
           "name": "results_generator",
           "component": "data_reader",
           "class": "InputDataAsResultsReader",
           "type": "output_generator",
           "input_type": "use_previous_results",
           "output_type": "results",
	   "print_output": true,
           "dyda_config": {
                "force_lab_format": true,
                "unpack_single_list": true
           }
        },
        {
           "name": "label_determinator",
           "component": "determinator",
           "class": "DeterminatorTargetLabel",
           "type": "skip",
           "input_type": "use_previous_results",
           "output_type": "results",
           "dyda_config": {
               "target": ["wheelchair", "other", "pedestrian"]
           }
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "dyda_config":    {
                "patch_color": [0, 0, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["label", "confidence"],
                "unpack_single_list": true,
                "snapshot_with_counter": false
            },
            "type": "normal",
            "input_type": "append",
            "type": "output_generator",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["results_generator", "results"]
            ]}
        }
    ]
}
