{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "binary_reader",
            "component": "binary_array_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output"
        },
        {
            "name": "image_resizer",
            "component": "image_processor",
            "class": "ResizeImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["binary_reader", "output_data"]
            ]}
        },
        {
            "name": "image_cropper",
            "component": "image_processor",
            "class": "CropRoiImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "feature_extractor",
            "component": "image_processor",
            "class": "LBPImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "classifier",
            "component": "cv_status_classifier",
            "class": "ClassifierGaussianMixtureModel",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "ccl_processor",
            "component": "image_processor",
            "class": "CCLImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "output_generator",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "output_generator",
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["ccl_processor", "folder"],
                ["ccl_processor", "filename"],
                ["ccl_processor", "size"],
                ["ccl_processor", "annotations", ["top", "bottom", "left", "right", "confidence", "label"]]
            ]},
            "output_type": "results"
        }
    ]
}
