{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "binary_array_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output"
        },
        {
            "name": "bg_subtractor",
            "component": "image_processor",
            "class": "BgSubtractImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"]
            ]}
        },
        {
            "name": "open_processor",
            "component": "image_processor",
            "class": "MorphOpenImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "close_processor",
            "component": "image_processor",
            "class": "MorphCloseImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "ccl_processor",
            "component": "image_processor",
            "class": "CCLImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "object_sorter",
            "component": "determinator",
            "class": "DeterminatorSortByArea",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "square_extender",
            "component": "box_processor",
            "class": "SquareExtendBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "crop_processor",
            "component": "image_processor",
            "class": "CropUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["square_extender", "results"]
            ]}
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierInceptionv3",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "detcla_combiner",
            "component": "output_generator",
            "class": "OutputGeneratorCombineDetCla",
            "type": "output_generator",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["object_sorter", "results"],
                ["classifier", "results"]
            ]}
        },
        {
            "name": "output_generator",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "output_generator",
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["detcla_combiner", "folder"],
                ["detcla_combiner", "filename"],
                ["detcla_combiner", "size"],
                ["detcla_combiner", "annotations", ["type", "label", "confidence", "top", "bottom", "left", "right", "id"]]
            ]},
            "output_type": "results"
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["output_generator", "results"]
            ]}
        }
    ]
}
