{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "binary_reader",
            "component": "binary_array_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "image_cropper",
            "component": "image_processor",
            "class": "CropRoiImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "image_resizer",
            "component": "image_processor",
            "class": "ResizeImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "learner",
            "component": "cv_learner",
            "class": "LearnerGaussianMixtureModel",
            "type": "normal",
            "output_type": "post_process",
            "input_type": "use_previous_output"
        }
    ]
}
