{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader_json",
            "component": "data_reader",
            "class": "BatchJsonReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "data_generator",
            "component": "output_generator",
            "class": "FullPathGenerator",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "data_reader_frame",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "classifier1",
            "component": "classifier",
            "class": "ClassifierAoiCornerAvg",
            "type": "normal",
            "input_type": "extend",
            "output_type": "results",
            "additional_info": {"input_data": [
                ["data_reader_frame", "output_data"]
            ]}
        },
        {
            "name": "classifier2",
            "component": "classifier",
            "class": "ClassifierAoiCornerAvg2",
            "type": "normal",
            "input_type": "extend",
            "output_type": "results",
            "additional_info": {"input_data": [
                ["data_reader_frame", "output_data"]
            ]}
        },
        {
            "name": "classifier3",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["data_reader_frame", "output_data"]
            ]}
        },
        {                                                                       
            "name": "determinator_classifier",                                          
            "component": "determinator",                                        
            "class": "DeterminatorTargetLabel",                                 
            "type": "normal",                                                 
            "output_type": "results",
            "input_type": "use_previous_results"                                
        },    
        {
            "name": "selector",
            "component": "selector",
            "class": "SelectorTargetLabel",
            "type": "selector",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["classifier3", "results"]
            ]}
        },
        {
            "name": "classifier4",
            "component": "classifier",
            "class": "ClassifierMobileNet2",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["data_reader_frame", "output_data"]
            ]}
        },
        {
            "name": "determinator_pick_results",
            "component": "determinator",
            "class": "DeterminatorValidAnnoFirst",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["classifier1", "results"],
                ["classifier2", "results"],
                ["determinator_classifier", "results"],
                ["classifier4", "results"]
            ]}
        },
        {
            "name": "determinator",
            "component": "determinator",
            "class": "DeterminatorBinaryConfThreshold",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator_file_info",
            "component": "output_generator",
            "class": "OutputGeneratorWithFileInfo",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator",
            "component": "output_generator",
            "class": "OutputGeneratorAOI",
            "type": "normal",
            "input_type": "use_previous_results",
            "snapshot": true,
            "output_type": "unpack_results"
        }
    ]
}
