{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config.aoi",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "BGR2GrayImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data"
        },
        {
            "name": "image_processor2",
            "component": "image_processor",
            "class": "Gray2COLORImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data"
        },
        {
            "name": "data_converter_ytec",
            "component": "data_converter",
            "class": "YTECDataConverter3",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["image_processor2", "output_data"],
                ["external", "meta"]
            ]}
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["data_converter_ytec", "output_data"]
            ]}
        },
        {
            "name": "determinator",
            "component": "determinator",
            "class": "DeterminatorBinaryConfThreshold",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator",
            "component": "output_generator",
            "class": "OutputGeneratorAOI",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_type": "unpack_results"
        }
    ]
}
