{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader_json",
            "component": "data_reader",
            "class": "BatchJsonReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "data_generator",
            "component": "output_generator",
            "class": "FullPathGenerator",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "data_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierAoiCV",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "analyzer",
            "component": "data_analyzer",
            "class": "UncertaintyAnalyzerSimple",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator_file_info",
            "component": "output_generator",
            "class": "OutputGeneratorWithFileInfo",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator",
            "component": "output_generator",
            "class": "OutputGeneratorAOI",
            "type": "normal",
            "snapshot": true,
            "input_type": "use_previous_results",
            "output_type": "unpack_results"
        }
    ]
}
