{
    "trigger_level": "L3",
    "dyda_config": "/home/shared/DT42/test_data/test_auto_labeler_with_tracker/auto_labeler_with_tracker.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "append_previous_output"
         },
         {
            "name": "manual_labeler",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"]
            ]}
         },
         {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByOverlapRatio",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["manual_labeler", "metadata"]
            ]}
         },
         {
            "name": "propagator",
            "component": "propagator",
            "class": "PropagatorInterpolate",
            "type": "normal",
            "input_type": "append",
            "output_type": "metadata",
            "print_output": true,
            "snapshot": true,
            "additional_info": {"input_data": [
                ["tracker", "metadata"]
            ]}
        }
    ]
}
