{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "learner",
            "component": "cv_learner",
            "class": "LearnerSimpleCV",
            "type": "normal",
            "output_type": "post_process",
            "input_type": "use_previous_output"
        }
    ]
}
