{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "path_reader",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "target_reader",
            "component": "data_reader",
            "class": "BatchJsonReader",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {
            "name": "target_label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {                                                                       
            "name": "conf_determinator",                                        
            "component": "determinator",                                        
            "class": "DeterminatorConfidenceThreshold",                         
            "type": "normal",                                                   
            "input_type": "use_previous_results"                                
        }, 
        {
            "name": "target_roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {
            "name": "target_size_determinator",
            "component": "determinator",
            "class": "DeterminatorSizeThreshold",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {
            "name": "reference_reader",
            "component": "data_reader",
            "class": "BatchJsonReader",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use",
            "additional_info": {"input_data": [
                ["path_reader", "results"]
            ]},
            "dyda_config": {
                "folder": "/home/shared/DT42/test_data/test_detector_validation/acamar2/XmlReader/results"
            }
        },
        {
            "name": "ref_label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {                                                                       
            "name": "conf_determinator",                                        
            "component": "determinator",                                        
            "class": "DeterminatorConfidenceThreshold",                         
            "type": "normal",                                                   
            "input_type": "use_previous_results"                                
        }, 
        {
            "name": "ref_roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {
            "name": "ref_size_determinator",
            "component": "determinator",
            "class": "DeterminatorSizeThreshold",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "use_previous_results"
        },
        {
            "name": "validator",
            "component": "validator",
            "class": "DetectionValidator",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["target_size_determinator", "results"],
                ["ref_size_determinator", "results"]
            ]},
            "output_type": "results",
            "print_output": false,
            "dyda_config": {
                "min_overlap": 0.3
            }
        }
    ]
}
