{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "bgrrgb_processor",
            "component": "image_processor",
            "class": "BGR2RGBImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "face_detector",
            "component": "detector",
            "class": "FaceDetector",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config":{
                "model": "cnn"
            }
        },
        {
            "name": "face_encoder",
            "component": "image_processor",
            "class": "FaceEncodingImageProcessor",
            "type": "normal",
            "input_type": "append",
            "dyda_config":{
                "save_encodings": true,
                "last_frame": "/home/shared/DT42/test_data/test_face_recognition/face-recognition-opencv/dataset/owen_grady/00000086.jpg"
            },
            "additional_info":{"input_data": [
                ["bgrrgb_processor", "output_data"],
                ["face_detector", "results"]
            ]}
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["face_detector", "results"]
            ]}
        }
    ]
}
