{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "frame_reader",
            "component": "binary_array_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data",
            "output_type": "output_data",
            "force_snapshotable": true
        },
        {
            "name": "bgrrgb_processor",
            "component": "image_processor",
            "class": "BGR2RGBImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "face_detector",
            "component": "detector",
            "class": "FaceDetector",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "face_encoder",
            "component": "image_processor",
            "class": "FaceEncodingImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info":{"input_data": [
                ["bgrrgb_processor", "output_data"],
                ["face_detector", "results"]
            ]}
        },
        {
            "name": "face_matcher",
            "component": "data_analyzer",
            "class": "FaceMatchAnalyzer",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "pickle_path": "/home/shared/DT42/test_data/test_face_recognition/encodings.pickle"
            }
        },
        {
            "name": "detcla_combiner",
            "component": "output_generator",
            "class": "OutputGeneratorCombineDetCla",
            "type": "normal",
            "input_type": "append",
            "dyda_config": {
                "behavior": "append",
                "cla_key_name": {"label": "person"}
            },
            "output_type": "results",
            "additional_info": {"input_data": [
                ["face_detector", "results"],
                ["face_matcher", "results"]
            ]}
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "dyda_config": {
                "key_to_patch": "person"
            },
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["frame_reader", "output_data"],
                ["detcla_combiner", "results"]
            ]}
        },
        {
            "name": "input_as_results",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "output_generator",
            "input_type": "use",
            "output_type": "results",
            "force_snapshotable": true,
            "additional_info": {"input_data": [
                ["detcla_combiner", "results"]
            ]}
        }
    ]
}
