{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "append_previous_output"
        },
        {
            "name": "image_merger",
            "component": "image_processor",
            "class": "MergeImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["label_determinator", "results"]
            ]}
        },
        {
            "name": "split_box_processor",
            "component": "box_processor",
            "class": "SplitBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "object_sorter",
            "component": "determinator",
            "class": "DeterminatorSortByAspect",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "square_extender",
            "component": "box_processor",
            "class": "SquareExtendBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "img_crop_processor",
            "component": "image_processor",
            "class": "CropUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_merger", "output_data"],
                ["square_extender", "results"]
            ]}
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierInceptionv3",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "detcla_combiner",
            "component": "output_generator",
            "class": "OutputGeneratorCombineDetCla",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["object_sorter", "results"],
                ["classifier", "results"]
            ]}
        },
        {
            "name": "anno_catter",
            "component": "box_processor",
            "class": "CatAnnotationsBoxProcessor",
            "type": "output_generator",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["tracker", "results"],
                ["detcla_combiner", "results"]
            ]}
        },
        {
            "name": "unmerge_box_processor",
            "component": "box_processor",
            "class": "UnmergeBoxProcessor",
            "type": "output_generator",
            "input_type": "use_previous_results"
        },
        {
            "name": "output_generator",
            "component": "output_generator",
            "class": "OutputGeneratorBehavior",
            "type": "output_generator",
            "output_type": "results",
            "input_type": "use_previous_results"
        },
        {
            "name": "person_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["anno_catter", "results"]
            ]},
            "dyda_config": {
                "target": ["person"]
            }
        },
        {
            "name": "person_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_merger", "output_data"],
                ["person_determinator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": []
            }
        },
        {
            "name": "falling_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["anno_catter", "results"]
            ]},
            "dyda_config": {
                "target": ["falling"]
            }
        },
        {
            "name": "falling_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["person_patcher", "output_data"],
                ["falling_determinator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [0, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["label"]
            }
        },
        {
            "name": "lie_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["anno_catter", "results"]
            ]},
            "dyda_config": {
                "target": ["lie"]
            }
        },
        {
            "name": "lie_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["falling_patcher", "output_data"],
                ["lie_determinator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [0, 0, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["label"],
                "snapshot_with_counter": false
            }
        }
    ]
}
