{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/dyda.config",
    "pipeline_def": [{
            "name": "posts_json_reader",
            "component": "fb_data_reader",
            "class": "FbYourPostsJsonReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "posts_json_converter",
            "component": "fb_posts_processor",
            "class": "FbYourPostsJsonConverter",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "posts_df_selector",
            "component": "fb_posts_processor",
            "class": "FBPostsDataSelector",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                }
        },
        {
            "name": "sentiment_analyzer",
            "component": "fb_posts_processor",
            "class": "FbPostSentimentAnalyzer",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "force_snapshotable": true,
            "dyda_config": {
                "sentiment_api_key":""
            }
        }
    ]
}
