{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "extend",
            "output_type": "results",
            "print_output": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]},
            "dyda_config": {
                "lib_path": "/usr/lib/libdarknet.so",
                "lib_path": "/usr/lib/libdarknet.so",
                "net_cfg": "/home/shared/model_zoo/yolo-v2/yolo.cfg",
                "net_weights": "/home/shared/model_zoo/yolo-v2/yolo.weights",
                "net_meta": "/home/shared/model_zoo/yolo-v2/coco.data",
                "thresh": 0.4,
                "hier_thresh": 0.5,
                "nms": 0.2
            }
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["yolo_detector", "results"]
            ]}
        }
    ]
}
