{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [
        {
            "name": "data_reader_img",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_external_data"
       },
       {
            "name": "label_converter",
            "component": "data_converter",
            "class": "PathLabelConverterLab",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_previous_results"
       },
       {
            "name": "align_processor",
            "component": "image_processor",
            "class": "DirAlignImageProcessor",
            "type": "normal",
            "output_type": "results",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader_img", "output_data"]
            ]}
        },
        {
            "name": "rt_augmentator",
            "component": "data_augmentator",
            "class": "RTConverterMultipleSeeds",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data"
        },
        {
            "name": "padding_processor",
            "component": "image_processor",
            "class": "PaddingResizeImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "snapshot": true
        },
        {
            "name": "snapshot_fname_generator",
            "component": "data_converter",
            "class": "SnapshotFnameConverter",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_previous_attr",
            "additional_info": {"attribute": "snapshot_fnames"}
        },
        {
            "name": "lab_img_info_generator",
            "component": "output_generator",
            "class": "OutputGeneratorImgLabFormat",
            "type": "output_generator",
            "output_type": "results",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["padding_processor", "output_data"]
            ]}
        },
        {
            "name": "label_duplicator",
            "component": "data_augmentator",
            "class": "DataDuplicator",
            "type": "normal",
            "output_type": "results",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["label_converter", "results"],
                ["rt_augmentator", "results"]
            ]}
        },
        {
            "name": "label_results_reader",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_previous_output"
        },
        {
            "name": "angle_duplicator",
            "component": "data_augmentator",
            "class": "DataDuplicator",
            "type": "normal",
            "output_type": "results",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["align_processor", "results"],
                ["rt_augmentator", "results"]
            ]}
        },
        {
            "name": "angle_results_reader",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_previous_output"
        },
        {
            "name": "output_generator",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "normal",
            "input_type": "use_meta_pairs",
            "print_output": true,
            "additional_info": {"comp_key_pairs": [
                ["lab_img_info_generator", "size"],
                ["lab_img_info_generator", "annotations"],
                ["angle_results_reader", "annotations", ["rot_angle"]],
                ["label_results_reader", "annotations", ["label"]],
                ["snapshot_fname_generator", "filename"],
                ["snapshot_fname_generator", "folder"]
            ]},
            "output_type": "results",
            "snapshot": true
        }
    ]
}
