{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "output_type": "results",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["classifier", "results"]
            ]}
        }
    ]
}
