{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "tfrecord_converter",
            "component": "tf_converter",
            "class": "LabToTFRecordConverter",
            "type": "normal",
            "output_type": "output_data",
            "input_type": "use_external_data",
            "force_snapshotable": false,
            "dyda_config": {
                "classes": ["dog", "person", "cat"]
            }
        },
        {
            "name": "tfdetector_learner",
            "component": "dl_learner",
            "class": "LearnerTFDetector",
            "type": "normal",
            "output_type": "output_data",
            "input_type": "use_previous_results",
            "force_snapshotable": false,
            "dyda_config": {
                "model_path": "/home/shared/model_zoo/tf_detection_model/ssd_mobilenet_v1_coco_2018_01_28/model.ckpt",
                "config_path": "/home/shared/model_zoo/tf_detection_model/ssd_mobilenet_v1_coco.config",
                "num_clones": 4
            }
        },
        {
            "name": "tfdetector_ckpttopb",
            "component": "tf_tool",
            "class": "TFCkptToPbTool",
            "type": "normal",
            "output_type": "output_data",
            "input_type": "use_previous_results",
            "force_snapshotable": false,
            "dyda_config": {
            }
        }
    ]
}
