{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "CsvDataReader",
            "type": "normal",
            "input_type": "use_external_data",
            "dyda_config": {
                "thousands": ","
                }
        },
        {
            "name": "random_selector",
            "component": "data_selector",
            "class": "RandomDataSelector",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "random_by": "virtual_id",
                "how_many": 2,
                "split": true
                }
        },
        {
            "name": "stat_analyzer",
            "component": "data_analyzer",
            "class": "StatAnalyzer",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "snapshot": false, 
            "dyda_config": {
                "object_col": "virtual_id"
                }
        },
        {
            "name": "hist_plotter",
            "component": "data_plotter",
            "class": "DataFrameHistPlotter",
            "type": "normal",
            "input_type": "use",
            "output_type": "output_data",
            "snapshot": false,
            "dyda_config": {
                "hist_feature": ["longitude", "latitude"],
                "belongs_to": "virtual_id"
                },
            "additional_info": {"input_data": [
                ["random_selector", "output_data"]
            ]}
        },
        {
            "name": "bubble_plotter",
            "component": "data_plotter",
            "class": "LocationBubblePlotter",
            "type": "normal",
            "input_type": "use",
            "output_type": "output_data",
            "snapshot": false,
            "dyda_config": {
                "plot_arrow": true
                },
            "additional_info": {"input_data": [
                ["random_selector", "output_data"]
            ]}
        }
    ]
}
