{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config.lpr",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "append_previous_output"
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["yolo_detector", "results"]
            ]}
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByOverlapRatio",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "character_determinator",
            "component": "determinator",
            "class": "DeterminatorCharacter",
            "type": "normal",
            "input_type": "extend",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["tracker", "results"]
            ]}
        },
        {
            "name": "character_classifier",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "output_generator",
            "component": "output_generator",
            "class": "OutputGeneratorLpr",
            "type": "output_generator",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["tracker", "results"],
                ["character_determinator", "results"],
                ["character_classifier", "results"]
            ]}
        },
        {
            "name": "plate_crop_processor",
            "component": "image_processor",
            "class": "CropUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["label_determinator", "results"]
            ]}
        },
        {
            "name": "propagator",
            "component": "propagator",
            "class": "PropagatorLpr",
            "type": "output_generator",
            "output_type": "results",
            "snapshot": true,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["character_classifier", "results"],
                ["output_generator", "results"]
            ]}
        }
    ]
}
