{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
	        "output_type": "output_data",
	        "snapshot": false,
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output",
            "dyda_config": {
                "interval": 1
            }
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "openvino_detector",
            "component": "openvino_detector",
            "class": "DetectorOpenVINO",
            "print_output": false,
	    "output_type": "results",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-ssd-fp32-openvino-1.0.0/mobilenet-ssd.bin",
                "model_description": "/usr/share/dlmodels/mobilenet-ssd-fp32-openvino-1.0.0/mobilenet-ssd.xml",
                "label_file": "/usr/share/dlmodels/mobilenet-ssd-fp32-openvino-1.0.0/labels.txt",
                "device": "CPU",
                "threshold": 0.3,
                "plugin_dirs": "/opt/intel/openvino_2019.1.144/deployment_tools/inference_engine/lib/intel64",
                "cpu_extensions": ["/opt/intel/openvino_2019.1.144/deployment_tools/inference_engine/lib/intel64/libcpu_extension_avx2.so", "/opt/intel/openvino_2019.1.144/deployment_tools/inference_engine/lib/intel64/libcpu_extension_avx512.so", "/opt/intel/openvino_2019.1.144/deployment_tools/inference_engine/lib/intel64/libcpu_extension_sse4.so"]
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": "person"
            }
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["label_determinator", "results"]
            ]}
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "dyda_config": {
                "use_external_meta": true
            },
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AccumulatorObjectNumber",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "reset_frame_num": -1,
                "appear_num_thre": 2
            }
        },
        {
            "name": "tracker_output",
            "component": "output_generator",
            "class": "OutputGeneratorBehavior",
            "type": "normal",
            "output_type": "results",
            "input_type": "use",
            "print_output": false,
            "additional_info": {"input_data": [
                ["roi_determinator", "results"]
            ]},
            "dyda_config": {
                "channel_num": 1
            }
        },
        {
            "name": "counter_output",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "normal",
            "output_type": "results",
	    "print_output": false,
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["tracker_output", "timestamp"],
                ["tracker_output", "channel_index"],
                ["tracker_output", "size"],
                ["tracker_output", "annotations"],
                ["accumulator", "object_counting"]
            ]}
        },
        {
            "name": "results_generator",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "output_generator",
            "input_type": "use_previous_results",
            "output_type": "results",
	        "snapshot": false,
	        "print_output": true,
            "dyda_config": {
                "unpack_single_list": true
            }
        },
        {
            "name": "image_processor_sys",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "dyda_config":    {
                "patch_color": [255, 0, 0],
                "patch_line_width": 6,
                "text_space": 30,
                "keys_to_patch": ["object_counting"],
                "unpack_single_list": true,
                "snapshot_with_counter": false,
		        "company_info": "All right reserved. DT42 confidential",
		        "attach_company_info": true,
		        "patch_external_meta_roi": true
            },
            "input_type": "append",
            "type": "skip",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["results_generator", "results"]
            ]}
        },
        {
            "name": "patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["image_processor_sys", "output_data"],
                ["results_generator", "results"]
            ]},
            "snapshot": false,
            "dyda_config": {
                "patch_color": [0, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["track_id"]
            }
        }
    ]
}
