{
    "trigger_level": "L3",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output",
            "dyda_config": {
                "interval": 1
            }
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "tflite_detector",
            "component": "tflite_engine",
            "class": "DetectorTFLiteMobileNetSSD",
            "print_output": false,
            "output_type": "results",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-ssd-coco-tflite-2.0.0/model.tflite",
                "label_map": "/usr/share/dlmodels/mobilenet-ssd-coco-tflite-2.0.0/labels.txt",
                "num_threads": 4
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": ["person"]
            }

        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "conf_thre": 0.6
            }
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["conf_determinator", "results"]
            ]}
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "use_external_meta": true
            }
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AnnoAccumulatorFast",
            "type": "normal",
            "output_type": "results",
            "print_output": true,
            "input_type": "use_previous_results",
            "dyda_config":{
                "comp_rule": "mean",
                "agg_key": "confidence",
                "group_key": "track_id",
                "agg_num": 3
            }
        },
        {
            "name": "final_json_output",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "print_output": true,
            "type": "output_generator",
            "output_type": "results",
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["accumulator", "folder"],
                ["accumulator", "filename"],
                ["accumulator", "size"],
                ["accumulator", "annotations", ["type", "label", "confidence", "top", "bottom", "left", "right", "id", "track_id"]]
            ]}
        },
        {
            "name": "image_processor_sys",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "input_type": "append",
            "type": "output_generator",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
		["output_generator", "results"]
    ]},
    "dyda_config":    {
	"patch_color": [255, 0, 0],
	"patch_line_width": 6,
	"text_space": 30,
	"unpack_single_list": true,
	"company_info": "AIKEA all right reserved.",
	"attach_company_info": true,
	"patch_external_meta_roi": true
    }
},
{
    "name": "final_img_output",
    "component": "image_processor",
    "class": "PatchImageProcessor",
    "type": "output_generator",
    "input_type": "append",
    "output_type": "output_data",
    "additional_info": {"input_data": [
	["image_processor_sys", "output_data"],
	["output_generator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["track_id", "confidence"],
                "customized_color": {
                        "person": [0, 0, 255],
                        "car": [0, 255, 0],
                        "motorbike": [255, 0, 0],
                        "bicycle": [255, 255, 0],
                        "bus": [255, 0, 255],
                        "truck": [0, 255, 255]
                }

            }
        }
    ]
}
