{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "output_type": "output_data",
            "force_snapshotable": true,
            "input_type": "use_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output",
            "dyda_config": {
                "interval": 1
            }
        },
        {
            "name": "meta_reader",
            "component": "data_reader",
            "class": "MultiChannelDataReader",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "force_snapshotable": true
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "lib_path": "/usr/lib/libdarknet.so",
                "net_cfg": "/usr/share/dlmodels/yolococov2-people-car-20190723/yolo-voc.cfg",
                "net_weights": "/usr/share/dlmodels/yolococov2-people-car-20190723/yolo-voc_final.weights",
                "net_meta": "/usr/share/dlmodels/yolococov2-people-car-20190723/dt42.data",
                "thresh": 0.1,
                "hier_thresh": 0.5,
                "nms": 0.07
            }
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "threshold": 0.3
            }
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["conf_determinator", "results"]
            ]}
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "use_external_meta": true
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": ["car", "person", "bicycle", "motorbike", "bus", "truck", "cat", "dog"]
            }
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "type": "centroid",
                "max_missing_frame": 3,
                "adaptive_thre": 2
            }
        },
        {
            "name": "output_generator",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "normal",
            "output_type": "results",
            "force_snapshotable": true,
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["tracker", "folder"],
                ["tracker", "filename"],
                ["tracker", "size"],
                ["tracker", "annotations", ["type", "label", "confidence", "top", "bottom", "left", "right", "id", "track_id"]]
            ]}
        },
        {
            "name": "image_processor_sys",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "dyda_config":    {
                "patch_color": [255, 0, 0],
                "patch_line_width": 6,
                "text_space": 30,
                "keys_to_patch": ["object_counting"],
                "unpack_single_list": true,
                "snapshot_with_counter": false,
                "company_info": "All right reserved. DT42 confidential",
                "attach_company_info": true,
                "patch_external_meta_roi": true
            },
            "input_type": "append",
            "type": "normal",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["meta_reader", "results"]
             ]}
         },

        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["image_processor_sys", "output_data"],
                ["output_generator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["track_id", "label"],
                "snapshot_with_counter": false,
                "customized_color": {
                        "person": [0, 0, 255],
                        "car": [0, 255, 0],
                        "motorbike": [255, 0, 0],
                        "bicycle": [255, 255, 0],
                        "bus": [255, 0, 255],
                        "truck": [0, 255, 255]
                }
            }
        }
    ]
}

