{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "image_resizer",
            "component": "image_processor",
            "class": "ResizeImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "width": 500,
                "height": -1
            }
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "output_type": "output_data",
            "input_type": "use_previous_output"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorInRotation",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "lib_path": "/usr/lib/libdarknet.so",
                "lib_path": "/usr/lib/libdarknet.so",
                "net_cfg": "/home/shared/model_zoo/YOLO_people_counting_acamar/yolo.cfg",
                "net_weights": "/home/shared/model_zoo/YOLO_people_counting_acamar/yolo.weights",
                "net_meta": "/home/shared/model_zoo/YOLO_people_counting_acamar/dt42.data",
                "thresh": 0.3,
                "hier_thresh": 0.5,
                "nms": 0.45
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": "person"
            }
        },
        {
            "name": "update_box_processor",
            "component": "box_processor",
            "class": "UpdateInRotationBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_selector", "results"],
                ["label_determinator", "results"]
            ]},
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "image_cropper",
            "component": "image_processor",
            "class": "CropMultiUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "output_data"],
                ["update_box_processor", "results"]
            ]},
            "dyda_config": {
                "output_single_list": false
            }
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByColor",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "type": ["centroid", "color"],
                "max_missing_frame": 5,
                "matching_thre": -0.1,
                "adaptive_thre": 2,
                "rotation_num": 4,
                "momentum": 0.5,
                "hist_bin_num": 4
            },
            "input_type": "append",
            "additional_info": {"input_data": [
                ["update_box_processor", "results"],
                ["image_cropper", "output_data"]
            ]}
        },
        {
            "name": "meta_selector",
            "component": "box_processor",
            "class": "SelectInRotationBoxProcessor",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "tracker_updater",
            "component": "box_processor",
            "class": "UpdateInRotationBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_selector", "results"],
                ["meta_selector", "results"]
            ]},
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AccumulatorObjectNumber",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "reset_frame_num": -1,
                "appear_num_thre": 3
            }
        },
        {
            "name": "tracker_output",
            "component": "output_generator",
            "class": "OutputGeneratorBehavior",
            "type": "normal",
            "additional_info": {"input_data": [
                ["tracker_updater", "results"]
            ]},
            "input_type": "use",
            "dyda_config": {
                "channel_num": 4
            }
        },
        {
            "name": "counter_output",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "output_generator",
            "output_type": "results",
            "snapshot": false,
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["tracker_output", "timestamp"],
                ["tracker_output", "channel_index"],
                ["tracker_output", "size"],
                ["tracker_output", "annotations"],
                ["accumulator", "object_counting"]
            ]}
        },
        {
            "name": "shift_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "skip",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["tracker_updater", "results"],
                ["tracker_updater", "results"]
            ]},
            "dyda_config": {
                "type": "to_padded",
                "use_external_meta": true
            }
        },
        {
            "name": "anno_catter",
            "component": "box_processor",
            "class": "CatAnnotationsBoxProcessor",
            "type": "skip",
            "output_type": "results",
            "input_type": "use_previous_results"
        },
        {
            "name": "image_merger",
            "component": "image_processor",
            "class": "MergeImageProcessor",
            "type": "skip",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["image_padder", "output_data"]
            ]}
        },
        {
            "name": "person_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "output_type": "output_data",
            "snapshot": true,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_merger", "output_data"],
                ["anno_catter", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["track_id"]
            }
        }
    ]
}
