{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [
        {
            "name": "pre_data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data",
            "output_type": "output_data",
            "force_snapshotable": true,
            "dyda_config": {
                "snapshot_with_counter": false
            }
        },
        {
            "name": "frame_selector",
            "component": "data_reader",
            "class": "MultiChannelDataReader",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data"
        },
        {
            "name": "meta_reader",
            "component": "data_reader",
            "class": "MultiChannelDataReader",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "force_snapshotable": true,
            "dyda_config": {
                "snapshot_with_counter": false
            }
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["pre_data_reader", "output_data"]
            ]}
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "lib_path": "/usr/lib/libdarknet.so",
                "lib_path": "/usr/lib/libdarknet.so",
                "net_cfg": "/usr/share/dlmodels/yolococo-20180217/yolo.cfg",
                "net_weights": "/usr/share/dlmodels/yolococo-20180217/yolo.weights",
                "net_meta": "/usr/share/dlmodels/yolococo-20180217/coco.data",
                "thresh": 0.4,
                "hier_thresh": 0.5,
                "nms": 0.2
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": "person"
            }
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["label_determinator", "results"]
            ]}
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "use_external_meta": true
            }
        },
        {
            "name": "update_box_processor",
            "component": "box_processor",
            "class": "UpdateInRotationBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_selector", "results"],
                ["roi_determinator", "results"]
            ]},
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "img_queue_updater",
            "component": "data_reader",
            "class": "MultiChannelUpdateReader",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["frame_selector", "results"],
                ["pre_data_reader", "output_data"]
            ]},
            "dyda_config": {
                "channel_num": 4
            }
        },
        {
            "name": "image_cropper",
            "component": "image_processor",
            "class": "CropMultiUseAnnoImageProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["img_queue_updater", "output_data"],
                ["update_box_processor", "results"]
            ]},
            "dyda_config": {
                "output_single_list": false
            }
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByColor",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "type": ["centroid", "color"],
                "max_missing_frame": 22,
                "matching_thre": -1,
                "adaptive_thre": 2,
                "rotate_input": true,
                "momentum": 0.5,
                "hist_bin_num": 4,
                "channel_wise_track_id": true
            },
            "input_type": "append",
            "additional_info": {"input_data": [
                ["update_box_processor", "results"],
                ["image_cropper", "output_data"],
                ["frame_selector", "results"]
            ]}
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AccumulatorObjectNumber",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_type": "results",
            "dyda_config": {
                "reset_frame_num": -1,
                "appear_num_thre": 0
            }
        },
        {
            "name": "tracker_output",
            "component": "output_generator",
            "class": "OutputGeneratorBehavior",
            "type": "output_generator",
            "output_type": "results",
            "additional_info": {"input_data": [
                ["tracker", "results"]
            ]},
            "input_type": "use",
            "dyda_config": {
                "channel_num": 4
            }
        },
        {
            "name": "counter_output",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "normal",
            "output_type": "results",
            "force_snapshotable": true,
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["tracker_output", "timestamp"],
                ["tracker_output", "channel_index"],
                ["tracker_output", "size"],
                ["tracker_output", "annotations"],
                ["accumulator", "object_counting"]
            ]}
        },
        {
            "name": "meta_selector",
            "component": "box_processor",
            "class": "SelectByIdBoxProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "results",
            "additional_info": {"input_data": [
                ["meta_reader", "results"],
                ["counter_output", "results"]
            ]},
            "dyda_config": {
                "rotation_num": 4
            }
        },
        {
            "name": "image_processor_sys",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "dyda_config":    {
                "patch_color": [255, 0, 0],
                "patch_line_width": 6,
                "text_space": 30,
                "keys_to_patch": ["object_counting"],
                "unpack_single_list": true,
                "snapshot_with_counter": false,
                "company_info": "All right reserved. DT42 confidential",
                "attach_company_info": true,
                "patch_external_meta_roi": true
            },
            "input_type": "append",
            "type": "skip",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["pre_data_reader", "output_data"],
                ["meta_selector", "results"]
            ]}
        },
        {
            "name": "person_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "output_type": "output_data",
            "snapshot": true,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_processor_sys", "output_data"],
                ["meta_selector", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": -5,
                "font_scale": 0.6,
                "key_to_patch": ["track_id"],
                "check_lab_format": false,
                "snapshot_with_counter": false
            }
        },
        {
            "name": "results_generator",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "output_generator",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["counter_output", "results"]
            ]},
            "output_type": "results"
        }
    ]
}
