{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "output_type": "output_data",
            "force_snapshotable": true,
            "input_type": "use_external_data",
            "dyda_config":{
                "snapshot_with_counter": false
            }
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output",
            "dyda_config": {
                "interval": 1
            }
        },
        {
            "name": "meta_reader",
            "component": "data_reader",
            "class": "MultiChannelDataReader",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "force_snapshotable": true,
            "dyda_config":{
                "snapshot_with_counter": false
            }
        },
        {
            "name": "meta_selector",
            "component": "data_selector",
            "class": "MetaInfoSelector",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_type": "results",
            "dyda_config": {
                "key_look_for" : "channel_name",
                "meta_info_dic" : {
                    "test": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1269, "y": 742},
                                "top_right": {"x": 1369, "y": 732},
                                "bottom_left": {"x": 1272, "y": 785},
                                "bottom_right": {"x": 1372, "y": 774}},
                            "quadrangle_dst": {
                                "top_left": {"x": 969, "y": 742},
                                "top_right": {"x": 1069, "y": 732},
                                "bottom_left": {"x": 972, "y": 785},
                                "bottom_right": {"x": 1072, "y": 774}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    },
                    "南平路 新埔八街口紅線(展演廳側)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1269, "y": 742},
                                "top_right": {"x": 1369, "y": 732},
                                "bottom_left": {"x": 1272, "y": 785},
                                "bottom_right": {"x": 1372, "y": 774}},
                            "quadrangle_dst": {
                                "top_left": {"x": 752, "y": 1149},
                                "top_right": {"x": 853, "y": 1149},
                                "bottom_left": {"x": 752, "y": 1216},
                                "bottom_right": {"x": 853, "y": 1216}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    },
                    "南平路 新埔八街口(展演廳對面)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1234, "y": 218},
                                "top_right": {"x": 1321, "y": 219},
                                "bottom_left": {"x": 1234, "y": 253},
                                "bottom_right": {"x": 1321, "y": 253}},
                            "quadrangle_dst": {
                                "top_left": {"x": 711, "y": 490},
                                "top_right": {"x": 826, "y": 490},
                                "bottom_left": {"x": 711, "y": 571},
                                "bottom_right": {"x": 826, "y": 571}},
                            "image_size_dst": {
                                "width": 1800,
                                "height": 1800 }}
                    },
                    "南平路334號前(六番日式料理)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1426, "y": 325},
                                "top_right": {"x": 1522, "y": 323},
                                "bottom_left": {"x": 1425, "y": 363},
                                "bottom_right": {"x": 1520, "y": 362}},
                            "quadrangle_dst": {
                                "top_left": {"x": 1263, "y": 861},
                                "top_right": {"x": 1363, "y": 861},
                                "bottom_left": {"x": 1263, "y": 930},
                                "bottom_right": {"x": 1363, "y": 930}},
                            "image_size_dst": {
                                "width": 1800,
                                "height": 1800 }}
                    },
                    "南平路340號前(神腦-近中正路口)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1343, "y": 237},
                                "top_right": {"x": 1396, "y": 235},
                                "bottom_left": {"x": 1344, "y": 259},
                                "bottom_right": {"x": 1397, "y": 257}},
                            "quadrangle_dst": {
                                "top_left": {"x": 731, "y": 194},
                                "top_right": {"x": 812, "y": 194},
                                "bottom_left": {"x": 731, "y": 251},
                                "bottom_right": {"x": 812, "y": 251}},
                            "image_size_dst": {
                                "width": 1800,
                                "height": 1800 }}
                    },
                    "同德六-新埔六(同安公園側)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 818, "y": 1017},
                                "top_right": {"x": 924, "y": 1023},
                                "bottom_left": {"x": 823, "y": 1056},
                                "bottom_right": {"x": 929, "y": 1062}},
                            "quadrangle_dst": {
                                "top_left": {"x": 517, "y": 1315},
                                "top_right": {"x": 631, "y": 1315},
                                "bottom_left": {"x": 517, "y": 1364},
                                "bottom_right": {"x": 631, "y": 1364}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    },
                    "同德五街-藝文一-藝文二(北停車場側)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1381, "y": 42},
                                "top_right": {"x": 1416, "y": 42},
                                "bottom_left": {"x": 1381, "y": 57},
                                "bottom_right": {"x": 1416, "y": 57}},
                            "quadrangle_dst": {
                                "top_left": {"x": 753, "y": 79},
                                "top_right": {"x": 843, "y": 79},
                                "bottom_left": {"x": 753, "y": 113},
                                "bottom_right": {"x": 843, "y": 113}},
                            "image_size_dst": {
                                "width": 1800,
                                "height": 1800 }}
                    },
                    "同德五街-近中正路(中悅側-新潔明牙醫診所前紅線)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1459, "y": 431},
                                "top_right": {"x": 1549, "y": 427},
                                "bottom_left": {"x": 1459, "y": 467},
                                "bottom_right": {"x": 1550, "y": 464}},
                            "quadrangle_dst": {
                                "top_left": {"x": 820, "y": 495},
                                "top_right": {"x": 955, "y": 495},
                                "bottom_left": {"x": 820, "y": 595},
                                "bottom_right": {"x": 955, "y": 595}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    },
                    "同安街342號(同安公園側)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1437, "y": 343},
                                "top_right": {"x": 1505, "y": 341},
                                "bottom_left": {"x": 1436, "y": 374},
                                "bottom_right": {"x": 1505, "y": 372}},
                            "quadrangle_dst": {
                                "top_left": {"x": 850, "y": 877},
                                "top_right": {"x": 987, "y": 877},
                                "bottom_left": {"x": 850, "y": 946},
                                "bottom_right": {"x": 987, "y": 946}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    },
                    "同安街350號(同安公園側)": {
                        "trans_info": {
                            "quadrangle_src": {
                                "top_left": {"x": 1433, "y": 658},
                                "top_right": {"x": 1513, "y": 659},
                                "bottom_left": {"x": 1429, "y": 696},
                                "bottom_right": {"x": 1508, "y": 697}},
                            "quadrangle_dst": {
                                "top_left": {"x": 917, "y": 787},
                                "top_right": {"x": 1007, "y": 787},
                                "bottom_left": {"x": 917, "y": 839},
                                "bottom_right": {"x": 1007, "y": 839}},
                            "image_size_dst": {
                                "width": 1500,
                                "height": 1500 }}
                    }
                }    
            }
        },
        {
            "name": "image_transformer",
            "component": "image_processor",
            "class": "TransformImageProcessor",
            "type": "normal",
            "output_type": "output_data",
            "snapshot": false,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["meta_selector", "results"]
            ]},
            "dyda_config": {
                "type": "perspective",
                "snapshot_with_counter": false,
                "use_input_data": true
            }
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "print_output": false,
            "dyda_config": {
                "lib_path": "/usr/lib/libdarknet.so",
                "net_cfg": "/home/shared/model_zoo/dlmodels/yolovoc-lpd-20190825/yolo-voc.cfg",
                "net_weights": "/home/shared/model_zoo/dlmodels/yolovoc-lpd-20190825/yolo-voc_final.weights",
                "net_meta": "/home/shared/model_zoo/dlmodels/yolovoc-lpd-20190825/dt42.data",
                "thresh": 0.1,
                "hier_thresh": 0.5,
                "nms": 0.1
            }
        },
        {
            "name": "box_transformer",
            "component": "box_processor",
            "class": "TransformBoxProcessor",
            "type": "normal",
            "output_type": "results",
            "print_output": false,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_transformer", "results"],
                ["yolo_detector", "results"]
            ]},
            "dyda_config": {
                "reverse": true
            }
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "threshold": 0.1
            }
        },
        {
            "name": "car_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": ["car", "bicycle", "motorbike", "bus", "truck"]
            }
        },
        {
            "name": "life_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["conf_determinator", "results"]
            ]},
            "dyda_config": {
                "target": ["person", "dog", "cat"]
            }
        },
        {
            "name": "plate_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use",
            "output_type": "results",
            "additional_info": {"input_data": [
                ["conf_determinator", "results"]
            ]},
            "dyda_config": {
                "output_when_target_exists": true,
                "target": ["licence_plate"]
            }
        },
        {
            "name": "plate_sorter",
            "component": "determinator",
            "class": "DeterminatorSortByArea",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_previous_results",
            "dyda_config": {
                "mode": "large",
                "number": 1
            }
        },
        {
            "name": "character_determinator",
            "component": "determinator",
            "class": "DeterminatorCharacter",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": false,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["plate_sorter", "results"]
            ]},
            "dyda_config": {
                "char_number": [6, 7],
                "plate_ext_top": 0,
                "plate_ext_bottom": 0,
                "plate_ext_left": 0,
                "plate_ext_right": 0,
                "char_size": 128,
                "output_size": 50,
                "local_bin_thre": 15,
                "projection_v0_length_ratio_thre": 0.5,
                "projection_v0_percentile_thre": 0.95,
                "projection_h0_length_ratio_thre": 0.5,
                "projection_h0_percentile_thre": 0.9,
                "projection_h1_length_ratio_thre": 0.3,
                "projection_h1_percentile_thre": 85,
                "projection_v1_length_ratio_thre": 0.03,
                "projection_v1_percentile_thre": 85,
                "angle_min": 0,
                "angle_max": 1,
                "angle_gap": 5,
                "shift_ratio_min_y": 0,
                "shift_ratio_max_y": 1,
                "shift_ratio_min_x": 0,
                "shift_ratio_max_x": 1,
                "char_ratio_min": 1.6,
                "char_ratio_max": 2.6,
                "bin_thre_min": -20,
                "bin_thre_max": 35,
                "bin_thre_gap": 5
            }
        },
        {
            "name": "character_classifier",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-characters-1.0-128-20190723/output_graph.pb",
                "label_file": "/usr/share/dlmodels/mobilenet-characters-1.0-128-20190723/output_labels.txt",
                "input_height": 128,
                "input_width": 128,
                "input_mean": 128,
                "input_std": 128,
                "input_layer": "input",
                "convert_to_rgb": true,
                "output_layer": "final_result",
                "ftype": "jpg",
                "gpu_options": {
                    "allow_growth": true,
                    "visible_device_list": "0",
                    "per_process_gpu_memory_fraction": 0.3
                }
            }
        },
        {
            "name": "lpr_determinator",
            "component": "determinator",
            "class": "DeterminatorLpr",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["character_determinator", "results"],
                ["character_classifier", "results"]
            ]},
            "dyda_config": {
                "min_conf": 0.01,
                "confidence_thre": 0.99999,
                "plate_rule" : [
                    "NAAANNN",
                    "AAANNNN",
                    "AANNNN",
                    "NNNNAA",
                    "NNNNAN",
                    "AAANNN",
                    "AANNN",
                    "ANNNN",
                    "NANNN",
                    "NNNAA",
                    "NNNAN",
                    "NNNNA",
                    "AAAAAA",
                    "AAANN"
                ]
            }
        },
        {
            "name": "detcla_combiner",
            "component": "output_generator",
            "class": "OutputGeneratorCombineDetCla",
            "type": "normal",
            "input_type": "append",
            "print_output": false,
            "output_type": "results",
            "additional_info": {"input_data": [
                ["plate_sorter", "results"],
                ["lpr_determinator", "results"]
            ]}
        },
        {
            "name": "carlpr_combiner",
            "component": "box_processor",
            "class": "CombineCarLprBoxProcessor",
            "type": "output_generator",
            "input_type": "append",
            "output_type": "results",
            "print_output": false,
            "additional_info": {"input_data": [
                ["car_determinator", "results"],
                ["detcla_combiner", "results"]
            ]},
            "dyda_config": {
                "overlap_ratio_th": 0.4
            }
        },
        {
            "name": "cat_box_processor",
            "component": "box_processor",
            "class": "CatAnnotationsBoxProcessor",
            "type": "output_generator",
            "input_type": "append",
            "output_type": "results",
            "print_output": false,
            "additional_info": {"input_data": [
                ["carlpr_combiner", "results"],
                ["life_determinator", "results"]
            ]},
            "dyda_config": {
            }
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "output_generator",
            "input_type": "use_previous_results",
            "output_type": "results",
            "print_output": false,
            "dyda_config": {
                "type": "centroid",
                "max_missing_frame": 3,
                "adaptive_thre": 2,
                "momentum": 0.5,
                "snapshot_with_counter": false
            }
        },
        {
            "name": "refine_lpr_determinator",
            "component": "determinator",
            "class": "DeterminatorRefineLpr",
            "type": "output_generator",
            "print_output": false,
            "input_type": "use_previous_results",
            "dyda_config": {
                "max_bit": 7,
                "match_bit_thre": 4,
                "continuous": true
            }
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "output_generator",
            "input_type": "use_previous_results",
            "output_type": "results",
            "print_output": false,
            "force_snapshotable": true,
            "dyda_config": {
                "use_external_meta": true
            }
        },
        {
           "name": "image_processor_sys",
           "component": "image_processor",
           "class": "PatchSysInfoImageProcessor",
           "dyda_config":    {
               "patch_color": [255, 0, 0],
               "patch_line_width": 6,
               "text_space": 30,
               "keys_to_patch": ["object_counting"],
               "unpack_single_list": true,
               "snapshot_with_counter": false,
               "company_info": "All right reserved. DT42 confidential",
               "attach_company_info": true,
               "patch_external_meta_roi": true
           },
           "input_type": "append",
           "type": "skip",
           "output_type": "output_data",
           "additional_info": {"input_data": [
               ["data_reader", "output_data"],
               ["roi_determinator", "results"]
            ]}
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
               ["data_reader", "output_data"],
               ["roi_determinator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["label", "lpr", "track_id"],
                "snapshot_with_counter": false,
                "customized_color": {
                        "person": [0, 0, 255],
                        "car": [0, 255, 0],
                        "motorbike": [255, 0, 0],
                        "bicycle": [255, 255, 0],
                        "bus": [255, 0, 255],
                        "truck": [0, 255, 255]
                }
            }
        }
    ]
}
