{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config.parking_lot_solution",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "append_previous_output"
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["data_reader", "input_data"]
            ]}
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["yolo_detector", "metadata"]
            ]}

        },
        {
            "name": "space_reader",
            "component": "data_reader",
            "class": "JsonReaderFix",
            "type": "normal",
            "input_type": "append_previous_output"
        },
        {
            "name": "ratio_determinator",
            "component": "determinator",
            "class": "DeterminatorParkingLotStatus",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["data_reader", "input_data"],
                ["frame_selector", "metadata"],
                ["label_determinator", "metadata"],
                ["space_reader", "metadata"]
            ]}
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByOverlapRatio",
            "type": "normal",
            "output_type": "results",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["ratio_determinator", "metadata"]
            ]}
         }
    ]
}
