{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config.rgb_ir_cotrain",
    "pipeline_def": [{
            "name": "rgb_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "ir_reader",
            "component": "data_reader",
            "class": "JsonReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "ir_converter",
            "component": "data_converter",
            "class": "IrConverter",
            "type": "normal",
            "output_type": "post_process",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["ir_reader", "metadata"]
            ]}
        },
        {
            "name": "yolo_detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["rgb_reader", "output_data"]
            ]}
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["yolo_detector", "metadata"]
            ]}
        },
        {
            "name": "annotations_converter",
            "component": "data_converter",
            "class": "TimeScaleShiftConverter",
            "type": "normal",
            "output_type": "post_process",
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["label_determinator", "metadata"]
            ]}
        }
    ]
}
