{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "output_type": "output_data",
            "force_snapshotable": true,
            "input_type": "use_external_data"
        },
        {
            "name": "detector",
            "component": "tf_detector",
            "class": "DetectorMobileNetSSD",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "dyda_config": {
                "convert_to_rgb": true,
                "model_file": "/home/shared/model_zoo/mobilenet_ssd_test/results/TFCkptToPbTool/model/frozen_inference_graph.pb",
                "label_map": "/home/shared/model_zoo/mobilenet_ssd_test/results/LabToTFRecordConverter/label_map.pbtxt",
                "label_map_npack": 4,
                "label_map_key": "name",
                "gpu_options": {
                    "allow_growth": true,
                    "visible_device_list": "3",
                    "per_process_gpu_memory_fraction": 0.3
                }
            }
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "threshold": 0.3
            }
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "skip",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["conf_determinator", "results"]
            ]},
            "dyda_config": {
                "patch_color": [255, 255, 255],
                "patch_line_width": 6,
                "text_space": 30,
                "key_to_patch": ["label"],
                "snapshot_with_counter": false,
                "customized_color": {
                        "person": [0, 0, 255],
                        "car": [0, 255, 0],
                        "motorbike": [255, 0, 0],
                        "bicycle": [255, 255, 0],
                        "bus": [255, 0, 255],
                        "truck": [0, 255, 255]
                }
            }
        }
    ]
}

