{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "learner",
            "component": "dl_learner",
            "class": "LearnerYOLO",
            "type": "normal",
            "output_type": "results",
            "print_output": true,
            "input_type": "use_external_data"
        }
    ]
}
