{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [
        {
            "name": "label_converter",
            "component": "data_converter",
            "class": "PathLabelConverter",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "tf_data_linker",
            "component": "system_task",
            "class": "CreateSymbolicLinkTask",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["external", "data"],
                ["label_converter", "results"]
            ]}
        },
        {
            "name": "learner",
            "component": "dl_learner",
            "class": "LearnerTFClassifier",
            "type": "normal",
            "output_type": "results",
            "snapshot": true,
            "input_type": "use_previous_results"
        },
        {
            "name": "folder_cleaner",
            "component": "system_task",
            "class": "RemoveFolder",
            "type": "normal",
            "print_output": true,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["tf_data_linker", "results"]
            ]}
        }
    ]
}
