{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [
        {
            "name": "label_converter",
            "component": "data_converter",
            "class": "PathLabelConverter",
            "type": "normal",
            "input_type": "use_external_data",
            "dyda_config":{
                "level": 1
            }
       },
       {
            "name": "tf_data_linker",
            "component": "system_task",
            "class": "CreateSymbolicLinkTask",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["external", "data"],
                ["label_converter", "results"]
            ]}
        },
        {
            "name": "learner",
            "component": "dl_learner",
            "class": "LearnerTFClassifier",
            "type": "normal",
            "output_type": "results",
            "snapshot": true,
            "input_type": "use_previous_results",
            "dyda_config":{
                "retrain_script_path": "/usr/lib/python3.5/dist-packages/dyda/components/retrain.py",
                "learning_rate": 0.0005,
                "test_perc": 20,
                "val_perc": 20,
                "train_batch": 32,
                "val_batch": -1,
                "eval_step": 1000,
                "train_steps": 40000,
                "architecture": "inception_v3",
                "aug_lip_left_right": true,
                "aug_random_scale": 20,
                "aug_random_brightness": 30
            }

        },
        {
            "name": "folder_cleaner",
            "component": "system_task",
            "class": "RemoveFolder",
            "type": "normal",
            "print_output": true,
            "input_type": "append",
            "additional_info": {"input_data": [
                ["tf_data_linker", "results"]
            ]},
            "dyda_config":{
                "add_folder_to_rm": ["/tmp/bottleneck/"]
            }
        }
    ]
}
