{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "classifier",
            "component": "classifier",
            "class": "ClassifierMobileNet",
            "type": "normal",
            "input_type": "use_previous_output"
        },
        {
            "name": "label_converter",
            "component": "data_converter",
            "class": "PathLabelConverter",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["data_reader", "results"]
            ]}
        },
        {
            "name": "validator",
            "component": "validator",
            "class": "ClassificationValidator",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["classifier", "results"],
                ["label_converter", "results"]
            ]},
            "output_type": "results",
            "print_output": true
        } 
    ]
}
