{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [{
            "name": "data_reader_json",
            "component": "data_reader",
            "class": "BatchJsonReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "data_generator",
            "component": "output_generator",
            "class": "FullPathGenerator",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "data_reader_img",
            "component": "frame_reader",
            "class": "FrameReader",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "BGR2GrayImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data"
        },
        {
            "name": "data_converter_ytec",
            "component": "data_converter",
            "class": "YTECDataConverter",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["image_processor", "output_data"],
                ["data_reader_json", "results"]
            ]}
        },
        {
            "name": "data_reader_results",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_type": "results",
            "snapshot": true
        }
    ]
}
