Source: dyda
Section: python
Priority: optional
Maintainer: Tammy Yang <tammy@dt42.io>
Build-Depends: debhelper (>= 9.0.0), python3 (>= 3.4), python3-setuptools (>= 3.0)
Standards-Version: 3.9.5
Homepage: http://dt42.io
#Vcs-Git: git@gitlab.com:DT42/galaxy42/dt42-dyda.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dyda.git;a=summary

Package: dyda
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DT42 research team dyda library and applications
 Trainer library and applications released by DT42 research team.

Package: pipeline-config-object-counting-mobilenet-ssd-with-cpu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DT42 research team dyda library and applications
 Trainer library and applications released by DT42 research team.

Package: pipeline-config-object-detection-and-tracking
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DT42 research team dyda library and applications
 Trainer library and applications released by DT42 research team.

Package: pipeline-config-object-detection-and-tracking-with-lpr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DT42 research team dyda library and applications
 Trainer library and applications released by DT42 research team.

Package: pipeline-config-object-counting-4-channels-acamar-v4
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DT42 research team dyda library and applications
 Trainer library and applications released by DT42 research team.
