{
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "use_external_data"
        },
        {
            "name": "accumulator",
            "component": "data_accumulator",
            "class": "ImageAccumulator",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "print_output": true,
            "dyda_config":{
                "reset_at": 3
            }
        },
        {
            "name": "normalizer",
            "component": "data_normalizer",
            "class": "DataNormalizerSimple",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "print_output": true,
            "dyda_config":{
                "use_previous_ncount": true
            }
        },
        {
            "name": "converter",
            "component": "data_converter",
            "class": "NP2ColorMapConverter",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "snapshot": true,
            "print_output": true,
            "dyda_config":{
                "norm_min": 0,
                "norm_max": 255,
                "color_map": "COLORMAP_JET"
            }
        }
    ]
}
