{
    "trigger_level": "L3",
    "dyda_config": "/home/debug/codes/dt42-dyda/trainer/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "Detector",
            "component": "openvino_detector",
            "class": "DetectorOpenVINO",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "unpack_results",
            "print_output": true
        }
    ]
}
