{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/dyda.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "Video2FrameReader",
            "type": "normal",
            "input_type": "use_external_data",
            "dyda_config": {
                "concat": true,                                                         
                "fps": 1                                                               
            }
        },
        {
          "CreatedBy": {},
          "CreatedDate": "2020-01-13T06:18:59.299Z",
          "ModifiedDate": "2020-01-13T14:52:37.014Z",
          "app_name": "EpeuvaTest_SimpleDetection",
          "class": "DetectorMobileNetSSD",
          "component": "tf_detector",
          "input_type": "use_previous_output",
          "name": "detector",
          "order_number_number": 1,
          "output_type": "results",
          "print_output": false,
          "snapshot": false,
          "dyda_config": {
            "convert_to_rgb": true,
            "label_map": "/home/shared/model_zoo/tf_detection_model_resnet/mscoco_label_map.pbtxt",
            "label_map_key": "display_name",
            "label_map_npack": 5,
            "model_file": "/home/shared/model_zoo/tf_detection_model_resnet/ssd_resnet50_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03/frozen_inference_graph.pb",
            "threshold": 0.5
          },
          "type": "normal",
          "used_by_user": {}
        },
        {
          "CreatedBy": {},
          "CreatedDate": "2020-01-13T06:18:59.347Z",
          "ModifiedDate": "2020-01-13T14:54:54.395Z",
          "app_name": "EpeuvaTest_SimpleDetection",
          "class": "DeterminatorTargetLabel",
          "component": "determinator",
          "input_type": "use_previous_results",
          "name": "final_json_output",
          "order_number_number": 1,
          "output_type": "results",
          "print_output": false,
          "snapshot": false,
          "dyda_config": {
            "target": [
              "car",
              "person",
              "dog",
              "cat"
            ]
          },
          "type": "normal",
          "used_by_user": {}
        },
        {
          "additional_info": {
            "input_data": [
              [
                "data_reader",
                "output_data"
              ],
              [
                "final_json_output",
                "results"
              ]
            ]
          },
          "class": "PatchSysInfoImageProcessor",
          "component": "image_processor",
          "input_type": "append",
          "name": "image_processor_sys",
          "output_type": "output_data",
          "dyda_config": {
            "attach_company_info": true,
            "company_info": "BerryNet.org all right reserved.",
            "patch_color": [
              255,
              0,
              0
            ],
            "patch_external_meta_roi": false,
            "patch_line_width": 6,
            "text_space": 30,
            "unpack_single_list": true
          },
          "type": "output_generator"
        },
        {
          "additional_info": {
            "input_data": [
              [
                "image_processor_sys",
                "output_data"
              ],
              [
                "image_processor_sys",
                "results"
              ]
            ]
          },
          "class": "PatchImageProcessor",
          "component": "image_processor",
          "input_type": "append",
          "name": "final_img_output",
          "output_type": "output_data",
          "snapshot": true,
          "dyda_config": {
            "customized_color": {
              "bicycle": [
                255,
                255,
                0
              ],
              "bus": [
                255,
                0,
                255
              ],
              "car": [
                0,
                255,
                0
              ],
              "motorbike": [
                255,
                0,
                0
              ],
              "person": [
                0,
                0,
                255
              ],
              "truck": [
                0,
                255,
                255
              ]
            },
            "key_to_patch": [
              "label",
              "confidence"
            ],
            "patch_color": [
              255,
              255,
              255
            ],
            "patch_line_width": 6,
            "text_space": 30
          },
          "type": "output_generator"
        },
        {
            "name": "video_creator",
            "component": "system_task",
            "class": "Frame2VideoProcessor",
            "type": "output_generator",
            "input_type": "use_previous_output"
        }
      ]
    }
