{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/trainer.config",
    "pipeline_def": [
{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "detector",
            "component": "yolo_detector",
            "class": "DetectorYOLO",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results"
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "label_determinator2",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "dyda_config": {
                "target": ["person"]
            },
            "input_type": "extend",
            "additional_info": {"input_data": [
                ["detector", "results"]
            ]}
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerByOverlapRatio",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_data": "results"
        },
        {
            "name": "image_processor",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "type": "normal",
            "input_type": "append",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["tracker", "results"]
            ]}
        }
    ]
}
